services:
  mysql:
    image: mysql:8.0
    container_name: geekverse-mysql
    restart: always

    env_file:
      - .env

    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DB}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}

    volumes:
      - mysql_data:/var/lib/mysql

      
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5


  backend:
    build: ./backend
    container_name: geekverse-backend
    restart: always

    env_file:
      - .env

    depends_on:
      mysql:
        condition: service_healthy

    ports:
      - "8000:8000"


  frontend:
    build: ./frontend/geekverse-frontend
    container_name: geekverse-frontend
    restart: always

    depends_on:
      - backend

    ports:
      - "3000:80"


volumes:
  mysql_data:
